<!DOCTYPE html>
 <html>
   <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <title> Portfolio Rebalancer </title>
     <link rel="shortcut icon" href="dist/assets/coins.png" type="image/x-icon">
     <link rel="icon" href="dist/assets/coins.png" type="image/x-icon">
     <link rel="stylesheet" type="text/css" href="dist/css/main.css">
   </head>
   <body>

     <div id="balancer" v-cloak>
       <div class="container">

          <div v-if="total_capital > 0"> {{ total_capital }} </div>
          <div> total cap </div> <br>

          <div> {{ total_allocation * 100 }}% </div>
          <div> target allocation </div> <br>


          <div> {{ actions }} </div>

          <!-- Button -->
          <el-row>
            <el-col :sm="19"> &nbsp; </el-col>
            <el-col :sm="5" class="flex-end">
              <el-button type="primary" @click="tickerModal = true"> Add Ticker </el-button>
              <el-button type="primary" @click="get_action"> Get Report </el-button>
            </el-col>
          </el-row>

          <div v-if="portfolio.length > 0" style="margin-top: 50px;">

            <el-row class="row-header text-muted">
              <el-col :sm="5"> Name </el-col>
              <el-col :sm="3"> Quantity </el-col>
              <el-col :sm="3"> Price </el-col>
              <el-col :sm="3"> Value </el-col>
              <el-col :sm="3"> Target </el-col>
              <el-col :sm="3"> Actual </el-col>
              <el-col :sm="3"> Action </el-col>
              <el-col :sm="1"> &nbsp; </el-col>
            </el-row>

            <div class="card" v-for="stock in portfolio">
              <el-row v-if="portfolio.length > 0">
                <el-col :sm="5"> {{ stock.ticker }} </el-col>
                <el-col :sm="3"> {{ stock.quantity }} </el-col>
                <el-col :sm="3"> ${{ stock.price }} </el-col>
                <el-col :sm="3"> ${{ stock.value }} </el-col>
                <el-col :sm="3"> {{ stock.target * 100 }}% </el-col>
                <el-col :sm="3"> {{ Math.round(stock.value / total_capital * 100) }}% </el-col>
                <el-col :sm="3"> -- </el-col>
                <el-col :sm="1">
                  <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>
                  <i class="fa fa-trash fa-fw" aria-hidden="true"></i>
                </el-col>
              </el-row>
            </div>

          </div>

          <!-- Modal -->
          <el-dialog title="Add a stock to your portfolio" v-model="tickerModal" size="tiny">

            <el-form label-position="top" :model="tickerForm">
              <el-row :gutter="10">

                <el-col :lg="12">
                  <el-form-item label="Ticker">
                    <el-input v-model="tickerForm.ticker"></el-input>
                  </el-form-item>
                </el-col>

                <el-col :lg="12">
                  <el-form-item label="Target Allocation">
                    <el-input v-model="tickerForm.target"></el-input>
                  </el-form-item>
                </el-col>

                <el-col :lg="12">
                  <el-form-item label="Price">
                    <el-input v-model="tickerForm.price"></el-input>
                  </el-form-item>
                </el-col>

                <el-col :lg="12">
                  <el-form-item label="Quantity">
                    <el-input v-model="tickerForm.quantity"></el-input>
                  </el-form-item>
                </el-col>

              </el-row>
            </el-form>

            <span slot="footer" class="dialog-footer">
              <el-button type="primary" @click="modal_submit"> Confirm </el-button>
              <el-button type="text" @click="tickerModal = false"> Cancel </el-button>
            </span>
          </el-dialog>

       </div>
      </div> <!-- #balancer -->

     <script type="text/javascript" src="dist/js/main.js"></script>
   </body>
 </html>
