.card {
  background-color: white;
  box-shadow: $shadow-default;
  border-radius: $border-radius-default;
  margin: 7px 0;
  padding: 20px;
}

.row-header {
  // header for stocks
  padding: 10px 20px;
}
