.card {
  // basic card class with padding
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: $shadow-default;
  border-radius: $border-radius-default;
  margin: 7px 0;
  padding: 20px;

  &__links {
    text-align: right;
  }

}

.el-message {
  z-index: 5000;
}

.stats-header {
  // header for statistics
  text-align: center;
  padding: 50px 0;
  margin-bottom: 50px;
  h2 { margin-bottom: 5px; }
  background-color: white;
}

.table {

  &__header {
    // header for stocks
    padding: 10px 20px;
  }

}

.header-buttons {
  text-align: right;
  margin-bottom: 40px;
}