.padding-default {
  padding: 20px;
}

// Fonts ----
.text-muted {
  color: lighten(grey, 20%);
}

// Flexbox ----
.flex-center {
  display: flex;
  justify-content: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

// Other ----
.vertical-divide {
  border-right: 1px solid lightgrey;
}

.text-center {
  text-align: center;
}
